.breaking-news { background: #eee; }
.feed-entries { display: block; }
.breaking-news a{-webkit-transition:color 0.3s ease-in; -moz-transition:color 0.3s ease-in; -o-transition:color 0.3s ease-in; transition:color 0.3s ease-in;}
.breaking-news a {color: #333; text-decoration: none; text-shadow: 1px 1px #fff;}
.breaking-news a:hover {color: #AE4544; text-decoration: underline;}
.scroll-effect { height: 20px; position: relative; overflow: hidden; }
.scroll-effect .feed-entries { overflow: hidden; top: 0; }
.scroll-effect .feed-entries a { display: block; }
.uscore { color: #000; }
