html {
    overflow-y: scroll;
}

/*
Setup a basic body
*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial;
    font-size: 18px;
}

/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
header {
    background-color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    display: table;
    position: fixed !important;
    width: 100%;
    z-index: 1;
    background-image: url(../img/header-bottom-bg.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    height: 58px;
}

/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
    background-color: #FFFFFF;
    padding: 0;
    position: relative;
    width: auto;
    padding-top: 58px;
}

/*
the hamburger button with a little gradient effekt
*/
#hamburger {
    cursor: pointer;
    display: table-cell;
    height: 40px;
    position: relative;
    width: 40px;
    color: #121212;
    vertical-align: middle;
}

/*
The white stripes in the hamburger button
*/

/*
The navigation container in the background
*/
nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    overflow-y: auto;
    width: 70%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../img/nav-bottom-bg.png);
    background-repeat: repeat-x;
    background-position: bottom left;
    -webkit-box-shadow: inset -30px -6px 144px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -30px -6px 144px -27px rgba(0,0,0,0.75);
    box-shadow: inset -30px -6px 144px -27px rgba(0,0,0,0.75);
}

/*
Style the navigation menu
*/
nav .container {
    text-align: center;
    padding: 20px;
}
nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    border-top: 1px solid #121212;
    padding-left: 20px;
}

nav li {
    display: table;
    position: relative;
    padding: 8px 0 0;
    overflow: hidden;
}

nav li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 65px;
    display: table-cell;
}

nav li a {
    color: #121212 !important;    
    border-bottom: 1px solid #121212;    
    font-size: 16px;
    font-weight: 300 !important;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    line-height: 50px;
}
nav ul li:last-child a { border-bottom: none !important;}

nav .current a { font-weight: 500 !important; }

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
}