/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "css/font-awesome.min.css"; /* Font Awesome */

@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@font-face {
  font-family: 'Calibri';
  src: url('fonts/calibri/calibri.eot');
  src: url('fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'),
       url('fonts/calibri/calibri.woff') format('woff'),
       url('fonts/calibri/calibri.ttf')  format('truetype'),
       url('fonts/calibri/calibri.svg#svgFontName') format('svg');
}


html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none;                  prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color:#000000;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
  
}

.spinner-loader {
    text-align: center;
}

.spinner-loader img {    
    width: 90px;
    height: 90px;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
background-color: #F4F4F4;;
/*background: url(../img/body-bg.jpg) repeat center;*/
}
.ui-panel-inner { padding: 0; }

.ui-page-theme-a .ui-focus,
#loc_section .ui-block-a .ui-btn:focus,
#loc_section .ui-block-b .ui-btn:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

a {
    text-decoration: none;
    color: #424242;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
a:hover { color: red; }

.container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



#pageone_ar .ui-block-a,
#pageone_ar .ui-block-b,
#pageone_ar .ui-block-c,
#pageone_ar .ui-block-d,
#pageone_ar .ui-block-e { float: right; }



/* Drawer */
.drawer {
    -webkit-box-shadow: inset -30px -6px 144px -27px rgba(0,0,0,0.2);
    -moz-box-shadow: inset -30px -6px 144px -27px rgba(0,0,0,0.2);
    box-shadow: inset -30px -6px 144px -27px rgba(0,0,0,0.2);
	position: fixed;
	height:100vh;
	width:100%;
	/*z-index: 999999;
	/**
	background: -webkit-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,1));  For Safari 5.1 to 6.0 
    background: -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,1)); For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,1));  For Firefox 3.6 to 15 
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,1));  Standard syntax (must be last) 
	*/
	
	 background: -webkit-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,1));  
    background: -o-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,1)); 
    background: -moz-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,1));  
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,1));
	
	 display: block; 
   overflow: hidden; 
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
{
   
	 /*background: url(../img/drawer_bg.png) no-repeat top left;
	background-size: 100% 100%;
	
	background-color: inherit; */
}
/*
Style the navigation menu
*/
.drawer .container {
    text-align: center;
    padding-top: 20px;
}
.drawer .container img { width: 110px; }
.drawer .container:after{
    display: block;
    content: "";
    margin-top: 15px;
    height: 6px;
    overflow: hidden;
    background-image: url(../img/border.png);
    background-size: 100%;
}
.drawer ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    padding: 10px 0 0 15px;
}
.drawer ul:after {
    display: block;
    content: "";
    margin-top: 15px;
    margin-left: -15px;
    height: 3px;
    overflow: hidden;
    background-image: url(../img/border.png);
    background-size: 100%;
}
.drawer ul:last-child:after { display: none; }
.drawer li {
    display: table;
    position: relative;
    padding: 5px 0 0;
    overflow: hidden;
}

.drawer li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: table-cell;
}

.drawer li a {
    color: #000000 !important;    
    border-bottom: 1px solid #ddd;    
    font-size: 12px;
    font-weight: 400 !important;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    line-height: 30px;
}
.drawer ul li:last-child a { border-bottom: none !important;}

.drawer .current a { font-weight: 700 !important; }

.drawer_width { width: 17em !important; 
				margin:0;
				display : none;
				 }




/* Header */
.header {
	/*margin-top: 5px;*/
    height: 15%;
    background-color: #E60000;
    display: block;
    width: 100%;
    
    position:fixed; 
    z-index:2;
    top:0; 
	left:0;
   
   
    padding:0;
	
	text-align: center-left;
   
}
.header .container {    
    padding: 0 10px;
    line-height: 0;
}
.header:after {
    display: block;
    content: "";
    height: 6px;
    overflow: hidden;
    /*background-image: url(../img/border.png);88*/
    width: 100%;
    background-size: 100% 100%;
}
.header .container .logo img {
    height: 60px;
	
    padding: 10px 0px;
	float:left;
}
.header .container .logo h1 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
	float:left;
	
	margin-left: 10px;
	
}
.header .container .header-div {
    display: block;
    width: 30%;
   
    overflow: hidden;
    float: left;
    height: 100%;
}
.header .container .logo {
    /*text-align: center;*/
    width: 70%;
}



/** Header LogIn */
/* Header */
.header_login {
	/*margin-top: 5px;*/
    height: 40%;
    background-color: #E60000;
    display: block;
    width: 100%;
    
    position:fixed; 
    z-index:2;
    top:0; 
	left:0;
   
   
    padding:0;
	
	text-align: center-left;
   
}
.header_login .container {    
    padding: 0 10px;
    line-height: 0;
}
.header_login:after {
    display: block;
    content: "";
    height: 6px;
    overflow: hidden;
    /*background-image: url(../img/border.png);88*/
    width: 100%;
    background-size: 100% 100%;
}
.header_login .container .logo img {
    height: 80px;
	
    padding: 10px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}
.header_login .container .logo h1 {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-left: 20px;
}
.header_login .container .header_login-div {
    display: block;
    width: 30%;
   
    overflow: hidden;
    float: left;
    height: 100%;
}
.header_login .container .logo {
    /*text-align: center;*/
    width: 100%;
}

.header_login h1 { line-height: 40%; }

/*----------------------------------------------------------------------------------------------------*/

.menu-icon {
    color: #000000 !important;
    float: left;
    margin-right: 20px;
}
.menu-icon .fa { line-height: 55px; }
.header h1 { line-height: 55px; }

.search {
    text-align: right;
    font-size: 10px;
}
.search div {
    display: inline-block;
    cursor: pointer;
}
.search div:last-child { margin-left: 15px; }
.searchbox-icon1 .fa { line-height: 55px; }
.searchbox1 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.searchbox1 .ui-input-text {
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: #ffffff;
    box-shadow: none;
}

.searchbox1 .ui-input-text input {
    position: absolute;
    display: block;
    width: 80%;
    left: 10%;    
    padding: 0 20px;
    margin: 0;
    top: 26px;
    line-height: 28px;
    border-radius: 8px;
    background-color: #f2f2f2;
}

.back-icon1 {
    position: absolute;
    left: 0;
    top: 10px;
    text-align: center;
    width: 10%;
    z-index: 999999999;
    background-color: #ffffff;
	border-right: none;
}
.back-icon1 .fa { line-height: 58px; }

.lang-change {
	display: inline-block;
	margin-left: 10px;
}


/* Slider */
.slider { background: #FFFFFF; }
#slider_img { width : 100%; }    
.caption2 {
    position:relative;
    padding: 15px 20px 5px 20px;
    text-align: left; 
}
.caption2 .text_title {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
}
.text_cation {
    color:#121212;
    font-size: 14px;
    font-weight: 400;
}
.bx-wrapper .bx-pager {
    bottom: inherit;
    text-align: center;
    color: #666;
    padding: 10px 0;
    line-height: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    width: 5px;
    height: 5px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #d51c28; }

.bx-controls-direction { display: none; }

/* Fillter */
.ui-content .ui-navbar .ui-btn {
    background-color: reed !important;
    border-color: #eeeeee;
    color: #121212;
    font-weight: 700;
    text-shadow: none;
    padding: 15px 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.ui-page-theme-a .ui-btn:focus,
.ui-block-d .ui-btn:focus,
html head+body .ui-btn.ui-btn-b:focus,
.ui-page-theme-a .ui-btn.ui-btn-active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	background-color: #cccccc !important;
}

#loc_section li,
#loc_section_ar li {
    width: 25%;
    clear: none;
}
#loc_section li a,
#loc_section_ar li a {
    font-weight: 400;
    border-top: 0;
    border-right: 0;
    font-size: 11px;
    border-bottom-width: 1px;
    background-color: #f5f5f5 !important;
    padding-left: 3px;
    padding-right: 3px;
}

#ser_section li,
#ser_section_ar li {
    width: 20%;
    clear: none;
}
#ser_section li a,
#ser_section_ar li a {
    border-top: 0;
    border-right: 0;
    padding: 0;
    line-height: 0;
    border-width: 0;
}
#ser_section li a img,
#ser_section_ar li a img { width: 100%; }


/* Page style */
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: inherit;
    border-color: transparent;
    color: #333;
    text-shadow: none;
    font-weight: 400;
}

.feeding {
    display: block;
    width: 100%;
    padding: 25px;
}
.feeding-home { height:100%; margin-top:70px; background-color:#F4F4F4;}

.feeding-home-login { height:50%; margin-top:250px; background-color:#F4F4F4;}

.feeding-home .feature_repeated_row:last-child { margin-bottom:0; }
.heading h1 {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    text-align:left;
    text-transform: uppercase;
    display: block;
    color: #121212;
}
.heading h1 img {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
}

.heading:after {
    display: block;
    content: "";
    height: 6px;
    overflow: hidden;
   /* background-image: url(../img/border.png);*/
    background-size: 100% 100%;
    margin-bottom: 15px;
}

.feature-content {
    margin: 0;
   
	background-color:#fff;
	
}
.feature_repeated_row {
    margin-bottom: 30px;
}
.row_img { line-height: 0; }
.row_img img {   width: 100%; }

.feature_repeated_row h1 {
    padding: 8px 20px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700 !important;	
	text-shadow: 0 0 0 transparent !important;
}
.content-excrept {
    background: #FFFFFF;
    padding: 10px 20px;
}

.ui-content #feature_list .feature_repeated_row h1 {
    font-size: 18px;
    padding: 40px 20px 10px;
}
.ui-content #feature_list .feature_repeated_row { font-size: 14px; }

.ui-content .feeding #feature_list .feature_repeated_row h1 {
    font-size: 14px;
    padding: 8px 20px;
}
.ui-content .feeding #feature_list .feature_repeated_row { font-size: 12px; }





#ref_div a {
    
    color: #FFFFFF;
    display: block;
    padding: 0 20px;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    position: relative;
    overflow: hidden;
}

#talk_us_table div {
    background-color: #FFFFFF;
    display: block;
    width: 50%;
    position: relative;
    float: left;
    overflow: hidden;
}
#talk_us_table a {
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 1vh .5vh;
}
#talk_us_table img { height: 10vh; }


/* Preloader */
.ui-loader .ui-bar {
    background: #FFFFFF !important;
    opacity: 1 !important;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 0 !important;
}

.ui-loader-verbose {
	width: 90px !important;
	height: 90px !important;
	box-shadow: none !important;
	margin-left: -45px;
	margin-top: -45px;
	padding: 0 !important;
}



/* AR */
.bxslider_ar .caption2 { text-align: right; }
.heading_ar h1 {
    text-align: right;
    direction: rtl;
}
.heading_ar h1 img { float: left; }
#ref_div_ar a {
    color: #FFFFFF;
    display: block;
    padding: 0 20px;
    font-size: 12px;
    line-height: 28px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.div_ar {
    text-align: right;
    direction: rtl;
}


.deatails_description { font-size: 14px; }

.page-ar,
.page-ar .ui-content .ui-navbar .ui-btn { font-family: 'Droid Arabic Kufi', serif; }

.page-ar .drawer .container:after,
.page-ar .drawer ul:after,
.page-ar .header:after,
.page-ar .heading:after { background-image: url(../img/border-ar.png); }

.page-ar .bx-wrapper .bx-pager { direction: rtl; }
.page-ar .searchbox1 .ui-input-text input { text-align: right; }



/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.status {
    background-color:#333333;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.status.complete {
    background-color:#4B946A;
}

.hide {
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.ui-content {
	height:100%;
    padding: 0;
}

.feeding .ui-content { padding-top: 0; }
.feature_row{
	background-color:#F1F1F1;
	overflow: auto;
	border-bottom: 1px solid #121212;
    padding: 8px;
}
/*
.feature_row {
    position:relative;
    width:50%;
    padding-bottom:40%;
    height:0;
    overflow:hidden;
  }
  */
.feature_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 15px;   
}
.spinner
{
   
    width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
} 


/* Scroller Box */
#scroller_container {
 position: relative;
 width: 300px;
 height: 60px;
 overflow: hidden;
}

#scroller {
 white-space: nowrap;
 line-height: 60px;
 font-size: 60px;
}

#scroller p {
 padding: 0;
}
/* Scoller Box */


.feed-title {
	background: red;
	position: relative;
	width: 40%;
	overflow: hidden;
	display: block;
    float: left;
	padding: 8px;
	color: #fff;
	text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
.feed {
    display: block;
    position: relative;
    overflow: hidden;
}
.feed-entries {
    position: relative;
    display: block;
    width: 60%;
    float: left;
    padding: 11px;
}

body > section {
  margin: 0 auto;
  max-width: 80%;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 5em;
}



.page-title {
    text-align: center;
    display: table-cell;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
}
.page-title img { max-height: 40px; }



.page-title h1 {
    text-align: center;
    float: none;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 30px;
}

.services .feature_img {
    width: 40%;
    height: inherit;
    border-radius: 0;
    display: block;
    float: left;
    margin: 0 5%;
}

.services .feature_row {
    background-color:#F1F1F1;
    overflow: auto;
    border-top: 3px solid #FFFFFF;
    border-bottom: none;
    padding: 0;
}

.services .feature_row:nth-child(odd) { background-color:#e2e2e4; }

.services .ng-binding {
  font-size: 20px;
  color: #444 !important;
  font-weight: 400 !important;
  padding-top: 20px;
  display: block;
  float: left;
  width: 50%;
}

.services .ng-binding:after {
  content: "\f178";
  font-family: FontAwesome;
  padding-left: 10px;
  color: #999 !important;
}

/* Swipe works with mouse as well but often causes text selection. */
#demo-page * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
#demo-page .ui-content .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#demo-page .ui-content .ui-btn-inner {
    border: none;
}
/* Content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
.back-btn { float: right; margin: 0 2em 1em 0; }

.ui-bar-b {
  border: 1px solid #456f9a;
  background: #5e87b0;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 0 #3e6790;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#6facd5),to(#497bae));
  background-image: -webkit-linear-gradient(#6facd5,#497bae);
  background-image: -moz-linear-gradient(#6facd5,#497bae);
  background-image: -ms-linear-gradient(#6facd5,#497bae);
  background-image: -o-linear-gradient(#6facd5,#497bae);
  background-image: linear-gradient(#6facd5,#497bae);
}

#about .ui-content .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#about .ui-content .ui-btn-inner {
    border: none;
}

.ui-tabs { padding: 0 !important; }
	
	.filter_table{
	width:100%;
	padding:5%;
	border-spacing: 20px;
	}
	
	.filter_img {
    width: 40%;
    height: inherit;
    border-radius: 0;
    display: block;
    float: left;
    margin: 0 5%;
}

.bx-viewport {
height: 350px;
}

.slider-image {
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 768px) { .slider-image { height: 269px; } }
@media screen and (max-width: 600px) { .slider-image { height: 210px; } }
@media screen and (max-width: 414px) { .slider-image { height: 146px; } }
@media screen and (max-width: 375px) { .slider-image { height: 132px; } }
@media screen and (max-width: 360px) {.slider-image { height: 127px; } }
@media screen and (max-width: 320px) { .slider-image { height: 112px; } }





	
	
@left-panel-width: 60em;
@right-panel-width: 35em;

.ui-panel {
    width: @left-panel-width;
	
}

.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
  left: 0;
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
 transform: translate3d(-100%,0,0); 
}

.ui-panel.ui-panel-position-right {
    width: @right-panel-width;
}

.ui-panel.ui-panel-closed {
    width: 0;
}

.ui-panel.ui-panel-open {
    position:fixed;
}
.ui-panel-position-left {
    left: -@left-panel-width
}
.ui-panel-inner {
  
	position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Stop the main page from scrolling past the menu if the page is longer than the menu  */
.ui-page-active {
height: 70% !important;
}


.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-@left-panel-width, 0, 0);
    -moz-transform: translate3d(-@left-panel-width, 0, 0);
    transform: translate3d(-@left-panel-width, 0, 0);
	
}

.ui-panel-position-right {
    right: -@right-panel-width
}

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    -webkit-transform: translate3d(@right-panel-width, 0, 0);
    -moz-transform: translate3d(@right-panel-width, 0, 0);
    transform: translate3d(@right-panel-width, 0, 0)
}

.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open, .ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: @left-panel-width;
    right: -@right-panel-width
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(@left-panel-width, 0, 0);
    -moz-transform: translate3d(@left-panel-width, 0, 0);
    transform: translate3d(@left-panel-width, 0, 0)
}

.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-right.ui-panel-content-wrap-open, .ui-panel-dismiss-position-right.ui-panel-dismiss-open {
    left: -@left-panel-width;
    right: @right-panel-width
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(-@right-panel-width, 0, 0);
    -moz-transform: translate3d(-@right-panel-width, 0, 0);
    transform: translate3d(-@right-panel-width, 0, 0)
}

@media (min-width:55em) {
    .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
        margin-right: @right-panel-width
    }

    .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
        margin-left: @left-panel-width
    }
}


.ui-panel-animate.ui-panel-page-content-position-left {
    left: 0;
        right: 0;
        -webkit-transform: translate3d(@left-panel-width,0,0);
        -moz-transform: translate3d(@left-panel-width,0,0);
        transform: translate3d(@left-panel-width,0,0);
}








/** 
Search Bar CSS 
**/
.container{
    
}



.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}

@media (max-width:350px) {
    .header .container .logo h1 { font-size: 12px; }
	.lang-change { margin-left: 5px; }
    #loc_section li a,
    #loc_section_ar li a { font-size: 9px; }
}


.scrollable {
    osition:absolute;
    top: 75px;
    width:100%;
    padding:0;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
	overflow-x: hidden;
	height:100%;
        }
 
            /* iOS specific fix, don't use it on Android devices */
.scrollable > * {
            /*-webkit-transform: translateZ(0px);*/
        }
		
		
/*** LogIn / Login Validation **/		
.errspan_user_name {
    float: right;
    margin-right: 6px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    color: #CCCCCC;
}


.errspan_password {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #CCCCCC;
}

.errspan_user_mail {
    float: right;
    margin-right: 6px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    color: #CCCCCC;
}

#username{
	width: 100%;
    padding: 12px 20px;
  
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    
}

#password{
	width: 100%;
    padding: 12px 20px;
  
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    
}

#usermailcheck{
	width: 100%;
    padding: 12px 20px;
  
    display: inline-block;
    /*border: 1px solid #ccc;*/
    border-radius: 2px;
    
}

/*#submitButton*/
/*
ui-btn ui-input-btn ui-corner-all ui-shadow
{
	
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}*/



/** LOADER */
.waitpage {
    background-color:#000;
	opacity: 0.5;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.waitpage-box {
    /*background: none repeat scroll center center #000;
	opacity:0.5;
    border: 0px solid #999;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 4px 0 #666;*/
    left: 10%;
    overflow: auto;
    padding: 16px;
    position: fixed;
    text-align: center;
    top: 26%;
    z-index: 99999;
}
.waitpage-box p img {
    color: #d0622b;
    float: left;
	margin-left:15%;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
.waitpage-box p span {
    float: left;
    font-size: .8125em;
    font-weight: bold;
    padding: 6px 0 0 12px;
    white-space: nowrap;
}