::-webkit-scrollbar {
    width: 8px;}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border-radius: 0px;}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 100px rgba(4, 182, 36, 1);}
::-o-scrollbar {
    width: 8px;}
::-o-scrollbar-track {
    -o-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border-radius: 0px;}
::-o-scrollbar-thumb {
    border-radius: 0px;
    -o-box-shadow: inset 0 0 100px rgba(4, 182, 36, 1);}
::-ms-scrollbar {
    width: 8px;}
::-ms-scrollbar-track {
    -ms-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border-radius: 0px;}
::-ms-scrollbar-thumb {
    border-radius: 0px;
    -ms-box-shadow: inset 0 0 100px rgba(4, 182, 36, 1);}
::-moz-scrollbar {
    width: 8px;}
::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border-radius: 0px;}
::-moz-scrollbar-thumb {
    border-radius: 0px;
    -moz-box-shadow: inset 0 0 100px rgba(4, 182, 36, 1);}

p {display: block;}

.panel {
  -webkit-box-shadow: none;
  box-shadow:none;
}

.modal-title {
  text-align: center;
}

.navbar-inverse {
  background-color: #FFF;
  border-color: #DDD;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus {
  color: #333;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #DDD;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #337ab7;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #f5f5f5;
  color: #333;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
  background-color: #fff;
  border-color: #fff;
  padding: 0
}

.navbar-inverse .navbar-toggle .glyphicon {
  top: 3px;
  font-size: 35px;
}

#logo {
	padding: 5px;
	margin-right: 15px;
}

#main_block {
	margin-top: 60px;
}

.navbar-nav>li>a {
	padding: 20px;
}

.list-group-item-heading {
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-md-4 .list-group-item .list-group-item-text {
	padding-left: 40px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.list-group-item:last-child {
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item {
	border: 1px dashed #DDD;
	border-left: none;
	border-right: none;
}

input[type=file]#load-img {
  position: absolute;
  left: 16px;
  bottom: 0px;
  height: 34px;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  display: none;

}

#progress {
  vertical-align: middle;
  position: absolute;
  left: 15px;
  bottom: 0px;
  width: 9.75%;
  height: 34px;
  display: none;
}

.col-md-4 .list-group.pre-scrollable {
	max-height: 400px;
	height: 400px;
	/*border: 1px solid #DDD;*/
	overflow-x: hidden;
}

.col-md-8 .list-group.pre-scrollable {
	max-height: 449px;
	height: 449px;
	/*border: 1px solid #DDD;*/
	overflow-x: hidden;
}

.list-header {
	background-color: #ddd;
	padding: 5px;
}

.list-header-title {
	text-transform: uppercase;
	text-align: center;
}

.list-group {
	margin-bottom: 15px;
}

.form-group {
	width: 100%;
}

input[type=file]:focus {
	outline: none;
}

.panel-primary {
  border-color: #DDD;
  border-radius: 0px;
}

.icon-photo {
	background-image: url('./../images/photo-btn.png');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: 0 0;
	display: block;
	opacity: 0.7;
	height: 24px;
	width: 24px;
}

.icon-sticker {
	background-image: url('./../images/sticker-btn.png');
	background-repeat: no-repeat;
	background-size: 48px 24px;
	background-position: 0 0;
	display: block;
	opacity: 0.7;
	height: 24px;
	width: 24px;
}

.icon-sticker.active {
	background-position: -24px 0;
	height: 24px;
	width: 24px;
}

#attach_btn.btn,
#stickers_btn.btn {
	background: transparent !important;
	border-radius: 0;
	margin-right: 10px;
	padding: 4px;
	outline: none !important;
}

#message_text {
	display: inline-block;
	border-radius: 0px;
	width: 100%;
	box-shadow: none;
}

#message_text:focus {
	box-shadow: none;
	border: 1px solid #04B624;
}

#send_btn.btn {
	border-radius: 0px;
	margin-left: 10px;
}

#all_occupants{
  margin-bottom: 25px;
}

.attachments.img-responsive {
	max-width: 40%;
}

.round {
	border-radius: 50px;
}

.list-group.pre-scrollable.for-scroll {
  width: 100%;
  max-height: 325px;
  height: 325px;
  border: 1px solid #DDD;
  border-left: none;
  margin-bottom: 0px !important;
}

.img-place {
  width: 100%;
  height: 30px;
  padding: 10px;
}

#users_list {
  width: 100%;
}

.users_form, .push_form{
  height: auto;
  text-align: center;
  line-height: 100%;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 10px;
}

a.users_form.active, a.push_form.active {
  text-decoration: none;
  color: #fff;
  background-color: #337ab7;
}

#load-users {
  width: 20%;
  height: 10px;
  margin: 0 auto;
  display: block;
}

#dlg_name {
  display: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 10px;
}

#dlg_name:focus {
  box-shadow: none;
  border: 1px solid #04B624;
}

.list-group-item h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.load-msg {
  width: 15%;
  height: 6px;
  z-index: 99;
  position: absolute;
  top: 1%;
  left: 42.5%;
  display: none;
}

#push_usersList {
  width: 100%;
  max-height: 150px;
  height: 150px;
  border: 1px solid #DDD;
  border-left: none;
  margin-bottom: 10px !important;
}

.push {
  height: auto;
  text-align: center;
  line-height: 100%;
  padding: 5px;
}

a.pull_push.active  {
  text-decoration: none;
  color: #fff;
  background-color: #337ab7;
}

.new-info {
  margin-bottom: 10px;
}

.pullorpush {
  text-align: center;
}

.btn-block.for_width {
	width: 49.5%;
	display: inline;
}

.container.del-style {
	width: 100%;
	padding: 0;
}

.icon-small {
  position: absolute;
  right: 15px;
  top: 30px;
  display: none;
}

.emoji {
	height: 1.5em;
	margin: 0 .2em;
	width: 1.5em;
}

.sp-modal-overlay {
	z-index: 1000000;
}

.sp-modal {
	z-index: 1000005;
}

.visibility_hidden{
  visibility: hidden;
}

iframe::-webkit-scrollbar {
	width: 0;
}

/* General CSS Setup */
body{
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}

/* container */
.container {
  padding: 5% 0%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: #fd8e22;
}

/****** Here Tri 2 */
.talk-bubble2 {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: #fff;
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

/****** HERE 2 */
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #fff transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}



.navbar .navbar-inner.cached {
    display: flex;
}
framework7.material.min.css:15
.navbar-inner.cached {
    display: none;
}
framework7.material.min.css:15
.navbar-inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
framework7.material.min.css:15
.navbar-inner, .toolbar-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.navbar {
    left: 0;
    top: 0;
    height: 56px;
    font-size: 20px;
}

.navbar, .toolbar {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #fff;
}

.navbar .left, .navbar .right, .subnavbar .left, .subnavbar .right {
    -webkit-box-flex: 0;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.navbar .center {
    left: 0 !important;
}
framework7.material.min.css:15
.navbar .center, .subnavbar .center {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0 16px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 56px;
    display: inline-block;
    text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}


