@font-face {
  font-family: "Cairo-Regular";
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/************************** Variables ****************************/
/****************************************************************/
body, input {
  font-family: 'Cairo-Regular', sans-serif !important; }

img {
  vertical-align: middle; }

.img-responsive {
  max-width: 100%; }

a {
  color: black; }

i {
  margin-left: 5px;
  z-index: 999999; }

body.with-panel-left-cover .panel, body.with-panel-right-cover .panel {
  box-shadow: none; }

.panel {
  background: #edeae3;
  padding-right: 0.5em; }
  .panel .content {
    background: #f6f2ef;
    padding-bottom: 1.5em; }
  .panel .divider {
    background: #fd8e22;
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 1.5em; }
  .panel .panel-prof {
    padding: 2em 0; }
  .panel .panel-img img {
    width: 120px; }
  .panel .content-block {
    margin-top: 1em; }
  .panel a {
    color: #999;
    padding: 1.5em 1.5em 0;
    display: block;
    font-size: 1.2em; }
    .panel a:last-child {
      border-bottom: none; }
    .panel a i {
      margin-left: 5px; }

.social {
  text-align: center; }
  .social img {
    width: 40px !important;
    margin: 0 0.2em;
    height: initial !important;
    border-radius: initial;
    object-fit: initial;
    object-position: initial; }

hr {
  border: 1px solid #fff;
  width: 75%;
  margin: 1em auto; }

label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox, label.label-checkbox input[type=checkbox]:checked ~ .item-after i.icon-form-checkbox, label.label-checkbox input[type=checkbox]:checked ~ .item-inner i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked ~ .item-after i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked ~ .item-inner i.icon-form-checkbox {
  border-color: #fcaf01;
  background-color: #fcaf01; }

label.label-radio input[type=checkbox]:checked + .item-media i.icon-form-radio, label.label-radio input[type=checkbox]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type=checkbox]:checked ~ .item-inner i.icon-form-radio, label.label-radio input[type=radio]:checked + .item-media i.icon-form-radio, label.label-radio input[type=radio]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type=radio]:checked ~ .item-inner i.icon-form-radio {
  border-color: #fcaf01; }

label.label-radio input[type=checkbox]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type=checkbox]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type=checkbox]:checked ~ .item-inner i.icon-form-radio:after, label.label-radio input[type=radio]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type=radio]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type=radio]:checked ~ .item-inner i.icon-form-radio:after {
  background-color: #fcaf01;
  -webkit-transform: scale(1);
  transform: scale(1); }

/*FORM EDITING*/
.list-block {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0 3em; }
  .list-block ul {
    background-color: transparent; }
    .list-block ul li {
      padding: .25em 0; }
  .list-block .item-inner:after, .list-block ul:before, .list-block ul:after {
    background-color: transparent;
    display: none; }
  .list-block .item-content {
    background-color: #fff;
    margin: 0;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-right: 10px; }
    .list-block .item-content.bg-none {
      background: none;
      border: none; }
  .list-block .item-label {
    margin-bottom: .5em; }
  .list-block .item-inner {
    padding: 4px 10px !important;
    margin-right: 0 !important;
    min-height: 36px; }
    .list-block .item-inner .label.max-width {
      width: 80%; }
  .list-block .item-input {
    margin-bottom: 0; }
    .list-block .item-input .label-switch input[type=checkbox]:checked + .checkbox {
      background: rgba(0, 204, 195, 0.5); }
      .list-block .item-input .label-switch input[type=checkbox]:checked + .checkbox:after {
        background: #fd8e22; }
  .list-block .item-media {
    min-width: 25px;
    margin-left: 10px; }
    .list-block .item-media i {
      display: block;
      margin: auto; }
  .list-block .item-after {
    margin-left: 0;
    margin-right: 0;
    color: #a6a6a6; }

.picker-modal .list-block .item-content {
  border: none; }

.landing {
  background: url("../img/splash.png");
  background-size: cover;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .landing img {
    max-width: 50%;
    max-height: 50%; }

.content-block {
  margin: 16px 0;
  padding: 0 16px; }

.floating-button {
  left: 16px;
  right: auto;
  background: #fd8e22; }
  .floating-button.active-state {
    background: #fdaf52; }
  .floating-button i {
    font-size: 1.8em;
    margin-left: 0 !important; }

.navbar {
  background: linear-gradient(to left, #fd8e22, #fdaf52); }
  .navbar .left .link {
    padding-left: 0; }
  .navbar .center {
    left: 0 !important; }
  .navbar .list-block {
    margin: 0;
    padding: 0; }
    .navbar .list-block .item-link .item-inner {
      padding-right: 0;
      padding-left: 0;
      background: none; }
    .navbar .list-block .item-content {
      background-color: transparent;
      border: none;
      padding: 0; }
    .navbar .list-block .item-after {
      margin-left: 0;
      margin-right: 0;
      color: #fff !important;
      width: 100% !important;
      max-width: 100% !important; }
    .navbar .list-block .item-media {
      margin-left: 0; }
    .navbar .list-block li {
      padding-left: 1em; }
  .navbar .navbar-inner.cached {
    display: flex; }
  .navbar a.link {
    color: white; }

.navbar-fixed .page-content {
  padding-top: 56px; }

.toolbar {
  background: #fff;
  height: 60px;
  box-shadow: 0 0 8px 0 #ccc; }
  .toolbar a.link {
    color: #ada8a0; }
    .toolbar a.link i {
      color: #ada8a0;
      font-size: 2em;
      margin: 0 0 5px 0; }
    .toolbar a.link span {
      margin: 0 !important; }
    .toolbar a.link.active {
      color: #fd8e22; }
      .toolbar a.link.active i {
        color: #fd8e22; }

.button {
  height: initial;
  min-height: initial;
  line-height: initial;
  padding: 10px;
  margin-top: 1em; }
  .button.button-fill {
    background: linear-gradient(to left, #fd8e22, #fdaf52);
    color: #fff; }
    .button.button-fill.active-state {
      background: linear-gradient(to left, #fdaf52, #fd8e22) !important; }
  .button.button-red {
    background: linear-gradient(to left, #c0392b, #e74c3c);
    color: #fff; }
    .button.button-red.active-state {
      background: linear-gradient(to left, #e74c3c, #c0392b) !important; }
  .button.button-rounded {
    border-radius: 25px; }

.badge {
  position: absolute;
  left: 30px;
  top: 10px; }

.logo-cont {
  text-align: center; }
  .logo-cont img {
    width: 50%; }

.centered-25 {
  width: 25%; }

.centered-50 {
  width: 50%; }

.centered-75 {
  width: 75%; }

.centered-100 {
  width: 100%; }

.left-50 {
  width: 50%;
  margin-right: 50%; }

.m-auto {
  margin-right: auto;
  margin-left: auto; }

.m-0 {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-t-1 {
  margin-top: 1em; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-b-1 {
  margin-bottom: 1em; }

.m-l-0 {
  margin-left: 0; }

.m-l-1 {
  margin-left: 1em; }

.m-r-0 {
  margin-right: 0; }

.m-r-1 {
  margin-right: 1em; }

.p-1 {
  padding: 1em; }

.b-b-1 {
  border-bottom: 1px solid #e8e5e0; }

.text-main {
  color: #fd8e22; }

.text-red {
  color: #e74c3c; }

.text-muted {
  color: #999; }

.badge-main {
  background: #00ccc3;
  display: block;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  color: white;
  margin: auto; }

.bg-main {
  background-color: #fd8e22; }

.bg-light {
  background: #e8e5e0; }

.justify-center {
  justify-content: center; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.color-main {
  color: #fd8e22; }

.alert {
  padding: 1em;
  margin: .5em 0;
  border: 1px solid transparent;
  border-radius: 5px; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.card {
  box-shadow: none;
  border-radius: 5px;
  padding: 1em; }
  .card p {
    margin: 0; }

.rate {
  margin: 0.5em 0 0.2em !important; }
  .rate .ngrateit-bg-star {
    background-image: url(../img/bg-star-dark.svg);
    float: right; }
  .rate .ngrateit-selected {
    background-image: url(../img/rated-star.svg); }
  .rate .ngrateit:not(.ngrateit-readonly) .ngrateit-rating span:hover ~ span {
    background-image: url(../img/rated-star.svg); }
  .rate .ngrateit:not(.ngrateit-readonly) .ngrateit-rating:hover span {
    cursor: pointer;
    background-image: url(../img/rated-star.svg); }

.bigstar.ngrateit .ngrateit-star {
  background-size: 25px; }

.page {
  background: #f3f0eb; }
  .page[data-page="category"], .page[data-page="login"], .page[data-page="forgetPassword"], .page[data-page="verifyCode"], .page[data-page="resetPassword"], .page[data-page="changePassword"], .page[data-page="signup"] {
    background: #e8e5e0 url(../img/bg.jpg);
    background-size: cover; }
    .page[data-page="category"] .list-block .label-checkbox.item-content, .page[data-page="login"] .list-block .label-checkbox.item-content, .page[data-page="forgetPassword"] .list-block .label-checkbox.item-content, .page[data-page="verifyCode"] .list-block .label-checkbox.item-content, .page[data-page="resetPassword"] .list-block .label-checkbox.item-content, .page[data-page="changePassword"] .list-block .label-checkbox.item-content, .page[data-page="signup"] .list-block .label-checkbox.item-content {
      background: transparent;
      border: none; }
    .page[data-page="category"] .list-block .label-checkbox .item-media, .page[data-page="login"] .list-block .label-checkbox .item-media, .page[data-page="forgetPassword"] .list-block .label-checkbox .item-media, .page[data-page="verifyCode"] .list-block .label-checkbox .item-media, .page[data-page="resetPassword"] .list-block .label-checkbox .item-media, .page[data-page="changePassword"] .list-block .label-checkbox .item-media, .page[data-page="signup"] .list-block .label-checkbox .item-media {
      margin-left: 0; }
    .page[data-page="category"] .list-block .label-checkbox .item-title, .page[data-page="login"] .list-block .label-checkbox .item-title, .page[data-page="forgetPassword"] .list-block .label-checkbox .item-title, .page[data-page="verifyCode"] .list-block .label-checkbox .item-title, .page[data-page="resetPassword"] .list-block .label-checkbox .item-title, .page[data-page="changePassword"] .list-block .label-checkbox .item-title, .page[data-page="signup"] .list-block .label-checkbox .item-title {
      white-space: initial;
      position: relative;
      overflow: initial;
      text-overflow: initial; }
    .page[data-page="category"] .list-block .label-checkbox a, .page[data-page="login"] .list-block .label-checkbox a, .page[data-page="forgetPassword"] .list-block .label-checkbox a, .page[data-page="verifyCode"] .list-block .label-checkbox a, .page[data-page="resetPassword"] .list-block .label-checkbox a, .page[data-page="changePassword"] .list-block .label-checkbox a, .page[data-page="signup"] .list-block .label-checkbox a {
      color: #fd8e22; }
  .page[data-page="category"] .page-content .card, .page[data-page="about"] .page-content .card, .page[data-page="profile"] .page-content .card, .page[data-page="notification"] .page-content .card, .page[data-page="editProfile"] .page-content .card, .page[data-page="search"] .page-content .card, .page[data-page="contact"] .page-content .card, .page[data-page="report"] .page-content .card {
    box-shadow: none;
    border-radius: 10px;
    padding: 1em; }
    .page[data-page="category"] .page-content .card p, .page[data-page="about"] .page-content .card p, .page[data-page="profile"] .page-content .card p, .page[data-page="notification"] .page-content .card p, .page[data-page="editProfile"] .page-content .card p, .page[data-page="search"] .page-content .card p, .page[data-page="contact"] .page-content .card p, .page[data-page="report"] .page-content .card p {
      margin: 0; }
  .page[data-page="category"] .page-content .profile-img, .page[data-page="about"] .page-content .profile-img, .page[data-page="profile"] .page-content .profile-img, .page[data-page="notification"] .page-content .profile-img, .page[data-page="editProfile"] .page-content .profile-img, .page[data-page="search"] .page-content .profile-img, .page[data-page="contact"] .page-content .profile-img, .page[data-page="report"] .page-content .profile-img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 1em auto;
    width: 150px; }
    .page[data-page="category"] .page-content .profile-img img, .page[data-page="about"] .page-content .profile-img img, .page[data-page="profile"] .page-content .profile-img img, .page[data-page="notification"] .page-content .profile-img img, .page[data-page="editProfile"] .page-content .profile-img img, .page[data-page="search"] .page-content .profile-img img, .page[data-page="contact"] .page-content .profile-img img, .page[data-page="report"] .page-content .profile-img img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      border: 5px solid #e8e5e0; }
    .page[data-page="category"] .page-content .profile-img .picOption, .page[data-page="about"] .page-content .profile-img .picOption, .page[data-page="profile"] .page-content .profile-img .picOption, .page[data-page="notification"] .page-content .profile-img .picOption, .page[data-page="editProfile"] .page-content .profile-img .picOption, .page[data-page="search"] .page-content .profile-img .picOption, .page[data-page="contact"] .page-content .profile-img .picOption, .page[data-page="report"] .page-content .profile-img .picOption {
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; }
      .page[data-page="category"] .page-content .profile-img .picOption i, .page[data-page="about"] .page-content .profile-img .picOption i, .page[data-page="profile"] .page-content .profile-img .picOption i, .page[data-page="notification"] .page-content .profile-img .picOption i, .page[data-page="editProfile"] .page-content .profile-img .picOption i, .page[data-page="search"] .page-content .profile-img .picOption i, .page[data-page="contact"] .page-content .profile-img .picOption i, .page[data-page="report"] .page-content .profile-img .picOption i {
        font-size: 2em;
        display: block;
        text-align: center;
        margin: auto; }
        .page[data-page="category"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="about"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="profile"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="notification"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="editProfile"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="search"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="contact"] .page-content .profile-img .picOption i.ion-android-upload, .page[data-page="report"] .page-content .profile-img .picOption i.ion-android-upload {
          color: #fd8e22; }
        .page[data-page="category"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="about"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="profile"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="notification"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="editProfile"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="search"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="contact"] .page-content .profile-img .picOption i.ion-android-delete, .page[data-page="report"] .page-content .profile-img .picOption i.ion-android-delete {
          color: #e74c3c; }
  .page[data-page="buildings"] .card, .page[data-page="halal"] .card {
    border-radius: 50px;
    text-align: center;
    color: #999; }
  .page[data-page="buildings"] .button, .page[data-page="halal"] .button {
    font-size: 1.2em; }
  .page[data-page="advertisement"] .card, .page[data-page="myAdvertisement"] .card, .page[data-page="favouritesAdvertisement"] .card {
    border-radius: 100px 0 0 100px;
    margin-right: 0;
    color: #999; }
    .page[data-page="advertisement"] .card .row, .page[data-page="myAdvertisement"] .card .row, .page[data-page="favouritesAdvertisement"] .card .row {
      display: flex;
      align-items: center; }
    .page[data-page="advertisement"] .card img, .page[data-page="myAdvertisement"] .card img, .page[data-page="favouritesAdvertisement"] .card img {
      width: 100%;
      height: calc(30vw - 1.5em);
      border-radius: 50%;
      object-fit: cover;
      object-position: center; }
    .page[data-page="advertisement"] .card h3, .page[data-page="myAdvertisement"] .card h3, .page[data-page="favouritesAdvertisement"] .card h3 {
      font-weight: bold;
      color: #fd8e22;
      margin-top: 0; }
    .page[data-page="advertisement"] .card p, .page[data-page="myAdvertisement"] .card p, .page[data-page="favouritesAdvertisement"] .card p {
      margin-top: 5px; }
  .page[data-page="messages"] .card {
    border-radius: 10px;
    color: #999; }
    .page[data-page="messages"] .card .row {
      display: flex;
      align-items: center; }
    .page[data-page="messages"] .card img {
      width: 100%;
      height: calc(20vw - 1.5em);
      border-radius: 50%;
      object-fit: cover;
      object-position: center; }
    .page[data-page="messages"] .card h3 {
      font-weight: bold;
      color: #fd8e22;
      margin-top: 0; }
    .page[data-page="messages"] .card p {
      margin-top: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
  .page[data-page="advertisementDetails"] .card {
    border-radius: 10px;
    color: #999; }
    .page[data-page="advertisementDetails"] .card .row {
      display: flex;
      align-items: center; }
    .page[data-page="advertisementDetails"] .card img {
      width: 100%;
      height: calc(25vw - 1.5em);
      border-radius: 10px;
      object-fit: cover;
      object-position: center; }
    .page[data-page="advertisementDetails"] .card h3 {
      font-weight: bold;
      color: #000;
      margin-top: 0;
      margin-bottom: 5px; }
  .page[data-page="advertisementDetails"] .content {
    padding-bottom: 1em; }
    .page[data-page="advertisementDetails"] .content .details {
      text-align: justify;
      margin: 1em; }
    .page[data-page="advertisementDetails"] .content .btn_actions .button {
      background: #fff;
      color: #fd8e22;
      margin-top: 0;
      margin-bottom: 1em;
      text-align: right;
      padding: 10px 2em;
      box-shadow: 0 1px 2px 0 #ccc; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:first-child a {
      color: #0db59e; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:first-child a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:first-child a.active-state {
        background: #0db59e !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(2) a {
      color: #1187b9; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(2) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(2) a.active-state {
        background: #1187b9 !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(3) a {
      color: #a149d4; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(3) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(3) a.active-state {
        background: #a149d4 !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(4) a {
      color: #25c421; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(4) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(4) a.active-state {
        background: #25c421 !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(5) a {
      color: #ed2124; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(5) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(5) a.active-state {
        background: #ed2124 !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(6) a {
      color: #ffc500; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(6) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(6) a.active-state {
        background: #ffc500 !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(7) a {
      color: #0db59e; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(7) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(7) a.active-state {
        background: #0db59e !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(8) a {
      color: #fd8e22; }
      .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(8) a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50:nth-child(8) a.active-state {
        background: #fd8e22 !important; }
    .page[data-page="advertisementDetails"] .content .btn_actions .col-50 a.active, .page[data-page="advertisementDetails"] .content .btn_actions .col-50 a.active-state {
      color: #fff; }
    .page[data-page="advertisementDetails"] .content .rateAds {
      background: #fff;
      padding: 10px 2em;
      border-radius: 50px;
      color: #fd8e22;
      box-shadow: 0 1px 2px 0 #ccc; }
      .page[data-page="advertisementDetails"] .content .rateAds .row {
        display: flex;
        align-items: center; }
        .page[data-page="advertisementDetails"] .content .rateAds .row .bigstar {
          display: block;
          height: 32px;
          overflow: hidden; }
        .page[data-page="advertisementDetails"] .content .rateAds .row p {
          margin: 0; }
    .page[data-page="advertisementDetails"] .content .comments {
      margin-bottom: 1em; }
      .page[data-page="advertisementDetails"] .content .comments .card .more {
        font-size: 1.2em;
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
        z-index: 99999999; }
        .page[data-page="advertisementDetails"] .content .comments .card .more p, .page[data-page="advertisementDetails"] .content .comments .card .more a {
          color: #999; }
      .page[data-page="advertisementDetails"] .content .comments img {
        width: 100%;
        height: calc(20vw - 1.5em);
        border-radius: 10px;
        object-fit: cover;
        object-position: center; }
      .page[data-page="advertisementDetails"] .content .comments .col-100 {
        margin-top: 1em; }
    .page[data-page="advertisementDetails"] .content .btns .list-block {
      padding: 0; }
      .page[data-page="advertisementDetails"] .content .btns .list-block li {
        padding: 0; }
      .page[data-page="advertisementDetails"] .content .btns .list-block .item-content {
        border: none; }
    .page[data-page="advertisementDetails"] .content .btns .button {
      border-radius: 10px; }
  .page[data-page="advertisementDetails"] .swiper-container {
    margin: 10px;
    border-radius: 10px; }
    .page[data-page="advertisementDetails"] .swiper-container img {
      width: 100%; }
  .page[data-page="contact"] .card .row {
    display: flex;
    align-items: center; }
    .page[data-page="contact"] .card .row h3 {
      margin: 0; }
  .page[data-page="search"] .list-block .item-media {
    background: linear-gradient(to left, #fd8e22, #fdaf52);
    color: #fff;
    border-radius: 20px 0 0 20px;
    width: 40px;
    height: 40px;
    margin-left: 3px; }
  .page[data-page="search"] .list-block h4 {
    margin: 0; }
  .page[data-page="addAdvertisement"] .images {
    overflow: hidden;
    margin-bottom: 1em; }
    .page[data-page="addAdvertisement"] .images h3 {
      margin: 0; }
    .page[data-page="addAdvertisement"] .images .button {
      margin: 0; }
    .page[data-page="addAdvertisement"] .images .row {
      display: flex;
      align-items: center;
      margin-bottom: 1em; }
    .page[data-page="addAdvertisement"] .images .profile-img {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      width: 24%;
      float: right;
      height: calc(25vw - 2em);
      margin: 0.5% 0.5% 0 0.5%; }
      .page[data-page="addAdvertisement"] .images .profile-img .picOption {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 10px; }
        .page[data-page="addAdvertisement"] .images .profile-img .picOption i {
          font-size: 2em;
          display: block;
          text-align: center;
          margin: auto; }
          .page[data-page="addAdvertisement"] .images .profile-img .picOption i.ion-android-upload {
            color: #fd8e22; }
          .page[data-page="addAdvertisement"] .images .profile-img .picOption i.ion-android-delete {
            color: #e74c3c; }
      .page[data-page="addAdvertisement"] .images .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px; }
  .page[data-page="addAdvertisement"] .list-block .label-checkbox.item-content {
    background: transparent;
    border: none; }
  .page[data-page="addAdvertisement"] .list-block .label-checkbox .item-media {
    margin-left: 0; }
  .page[data-page="addAdvertisement"] .list-block .label-checkbox .item-title {
    white-space: initial;
    position: relative;
    overflow: initial;
    text-overflow: initial; }
  .page[data-page="addAdvertisement"] .list-block .label-checkbox a {
    color: #fd8e22; }
  .page[data-page="bankAccount"] .card h3 {
    margin: 0; }
  .page[data-page="bankAccount"] .card h4 {
    margin-bottom: 0;
    font-weight: normal; }
  .page.smart-select-page .navbar .center {
    right: 35%;
    display: none; }
  .page.smart-select-page input[type="radio"]:checked + .item-inner {
    opacity: .5; }
  .page.smart-select-page .list-block {
    padding: 0; }
    .page.smart-select-page .list-block .item-content {
      background: none;
      border: none; }

.addRate {
  color: #2ecc71;
  border-right: 3px solid #2ecc71 !important; }

.hint {
  color: #fd8e22;
  border-right: 3px solid #fd8e22 !important; }

.remove {
  color: #e74c3c;
  border-right: 3px solid #e74c3c !important; }

.swiper-pagination {
  text-align: left; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 10px; }

.swiper-pagination-bullet-active {
  background: #fd8e22; }

.ngrateit-star {
  float: right !important; }

.messagebar ~ .page-content, .toolbar-bottom ~ .page-content {
  padding-bottom: 80px; }

.popover {
  width: initial;
  left: 25px !important; }
  .popover .list-block {
    padding: 0; }
    .popover .list-block li {
      padding-top: 0;
      padding-bottom: 0; }
    .popover .list-block .list-button {
      padding: 0.5em 1em;
      line-height: initial; }

.popover-angle {
  width: 0;
  height: 0; }

.message-sent .message-text {
  background: #fd8e22;
  color: #fff; }

.message-date {
  color: rgba(255, 255, 255, 0.51); }

.list-block .smart-select .item-after {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block; }

.notifications.list-block {
  margin: 0;
  padding: 0; }

div[data-page="profile"] .account {
  display: flex;
  align-items: center;
  height: 100%; }
div[data-page="profile"] .content {
  display: none; }

/*# sourceMappingURL=style_material.css.map */
