* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

html, body {
    height: 100%;
}

body {
    color: #666;
    background: #e8e5e0;
}

.component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.component img, .component span {
    width: 3.5em;
    position: absolute;
    margin-left: 0;
    left: 8em;
}

.csstransforms .cn-wrapper {
    font-size: 1em;
    width: 35em;
    height: 35em;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    margin: auto;
    -webkit-transform: scale(0.1) translateX(-50%);
    -ms-transform: scale(0.1) translateX(-50%);
    -moz-transform: scale(0.1) translateX(-50%);
    transform: scale(0.1) translateX(-50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.cn-overlay.on-overlay {
    visibility: visible;
    opacity: 1;
}

.cn-button {
    color: #000;
    text-align: center;
    height: 15em;
    line-height: 15em;
    width: 15em;
    background-color: #fdaf52;
    border: 0.3em solid #fd8e22;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;

}

.btnContent {
    color: #000;
    text-align: center;
    height: 10em;
    line-height: 1.5em;
    width: 10em;
    background-color: #f3f0eb;
    border: 0.3em solid #e3ded7;
    position: absolute;
    left: 50%;
    margin-left: -5em;
    top: 2.2em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
    color: #aa1010;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    font-size: 1.5em;
    width: 12em;
    height: 12em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -0.6em;
    margin-left: -12em;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease;
    border: 3px solid transparent;
}

.csstransforms .cn-wrapper li a {
    display: block;
    font-size: 1.18em;
    height: 20em;
    width: 20em;
    position: absolute;
    bottom: -10em;
    right: -10em;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    padding-top: 3em;
    text-align: center;
    -webkit-transform: skew(-18deg) rotate(-55deg) scale(1);
    -ms-transform: skew(-18deg) rotate(-55deg) scale(1);
    -moz-transform: skew(-18deg) rotate(-55deg) scale(1);
    transform: skew(-18deg) rotate(-55deg) scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
    display: inline-block;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 18deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */
.csstransforms .cn-wrapper li:first-child {
    -webkit-transform: rotate(55deg) skew(18deg);
    -ms-transform: rotate(55deg) skew(18deg);
    -moz-transform: rotate(55deg) skew(18deg);
    transform: rotate(55deg) skew(18deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
    -webkit-transform: rotate(127deg) skew(18deg);
    -ms-transform: rotate(127deg) skew(18deg);
    -moz-transform: rotate(127deg) skew(18deg);
    transform: rotate(127deg) skew(18deg);
}

.csstransforms .cn-wrapper li:nth-child(2) img {
    transform: rotate(-72deg);
}

.csstransforms .cn-wrapper li:nth-child(2) span {
    transform: rotate(-72deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
    -webkit-transform: rotate(199deg) skew(18deg);
    -ms-transform: rotate(199deg) skew(18deg);
    -moz-transform: rotate(199deg) skew(18deg);
    transform: rotate(199deg) skew(18deg)
}

.csstransforms .cn-wrapper li:nth-child(3) img {
    transform: rotate(-144deg);
}

.csstransforms .cn-wrapper li:nth-child(3) span {
    transform: rotate(-144deg);
}

.csstransforms .cn-wrapper li:nth-child(4) {
    -webkit-transform: rotate(271deg) skew(18deg);
    -ms-transform: rotate(271deg) skew(18deg);
    -moz-transform: rotate(271deg) skew(18deg);
    transform: rotate(271deg) skew(18deg);
}

.csstransforms .cn-wrapper li:nth-child(4) img {
    transform: rotate(-216deg);
}

.csstransforms .cn-wrapper li:nth-child(4) span {
    transform: rotate(-216deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
    -webkit-transform: rotate(343deg) skew(18deg);
    -ms-transform: rotate(343deg) skew(18deg);
    -moz-transform: rotate(343deg) skew(18deg);
    transform: rotate(343deg) skew(18deg);
}

.csstransforms .cn-wrapper li:nth-child(5) img {
    transform: rotate(-288deg);
}

.csstransforms .cn-wrapper li:nth-child(5) span {
    transform: rotate(-288deg);
}

.csstransforms .cn-wrapper li a {
    background-color: #f3f0eb;
}

/* active style */
.csstransforms .cn-wrapper li.active a {
    background-color: #b31515;
    background-color: hsla(0, 88%, 70%, 1);
}

/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
    background-color: #fd8e22;
}

.csstransforms .cn-wrapper li:not(.active) a:focus {
    position: fixed;
}

/* fallback */
.no-csstransforms .cn-button {
    display: none;
}

.no-csstransforms .cn-wrapper li {
    position: static;
    float: left;
    font-size: 1em;
    height: 5em;
    width: 5em;
    background-color: #eee;
    text-align: center;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
    border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-wrapper {
    font-size: 1em;
    height: 5em;
    width: 25.15em;
    bottom: 0;
    margin-left: -12.5em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 50%;
    border: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
    .csstransforms .cn-wrapper {
        font-size: .7em;
    }
    .cn-button {
        color: #000;
        text-align: center;
        height: 10em;
        line-height: 10em;
        width: 10em;
        background-color: #fdaf52;
        border: 0.3em solid #fd8e22;
        border-radius: 50%;
        cursor: pointer;
        z-index: 11;
    }

    .btnContent {
        color: #000;
        text-align: center;
        height: 7em;
        line-height: 1.5em;
        width: 7em;
        background-color: #f3f0eb;
        border: 0.3em solid #e3ded7;
        position: absolute;
        left: 50%;
        margin-left: -3.5em;
        top: 1.2em;
        border-radius: 50%;
        cursor: pointer;
        z-index: 11;
    }
}
/*

@media screen and (max-width: 320px) {
    .no-csstransforms .cn-wrapper {
        width: 15.15px;
        margin-left: -7.5em;
    }

    .no-csstransforms .cn-wrapper li {
        height: 3em;
        width: 3em;
    }

    .cn-button {
        color: #000;
        text-align: center;
        height: 10em;
        line-height: 10em;
        width: 10em;
        background-color: #fdaf52;
        border: 0.3em solid #fd8e22;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        cursor: pointer;
        z-index: 11;

    }

    .btnContent {
        color: #000;
        text-align: center;
        height: 7em;
        line-height: 1.5em;
        width: 7em;
        background-color: #f3f0eb;
        border: 0.3em solid #e3ded7;
        position: absolute;
        left: 50%;
        margin-left: -3.5em;
        top: 1.2em;
        border-radius: 50%;
        cursor: pointer;
        z-index: 11;
    }
}
*/
