@font-face {
  font-family: "Cairo-Regular";
  src: url("../fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/************************** Variables ****************************/
$bg-color: #e8e5e0;
$main-color: #fd8e22;
$second-color: #fdaf52;
$third-color: #ada8a0;
$fourth-color: #f3f0eb;
$red-color: #e74c3c;
@mixin background($opacity) {
  background: rgba(0, 204, 195, $opacity);
}

/****************************************************************/
body, input {
  font-family: 'Cairo-Regular', sans-serif !important;
}

img {
  vertical-align: middle;
}

.img-responsive {
  max-width: 100%;
}

a {
  color: black;
}

i {
  margin-left: 5px;
  z-index: 999999;
}

body.with-panel-left-cover .panel, body.with-panel-right-cover .panel {
  box-shadow: none;
}

.panel {
  background: #edeae3;
  padding-right: 0.5em;
  .content {
    background: #f6f2ef;
    padding-bottom: 1.5em;
  }
  .divider {
    background: $main-color;
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 1.5em;
  }
  .panel-prof {
    padding: 2em 0;
  }
  .panel-img {
    img {
      width: 120px;
    }
  }
  .content-block {
    margin-top: 1em;
  }
  a {
    color: #999;
    padding: 1.5em 1.5em 0;
    display: block;
    font-size: 1.2em;
    &:last-child {
      border-bottom: none;
    }
    i {
      margin-left: 5px;
    }
  }
}

.social {
  text-align: center;
  img {
    width: 40px !important;
    margin: 0 0.2em;
    height: initial !important;
    border-radius: initial;
    object-fit: initial;
    object-position: initial;
  }
}

hr {
  border: 1px solid #fff;
  width: 75%;
  margin: 1em auto;
}

label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox, label.label-checkbox input[type=checkbox]:checked ~ .item-after i.icon-form-checkbox, label.label-checkbox input[type=checkbox]:checked ~ .item-inner i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked ~ .item-after i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked ~ .item-inner i.icon-form-checkbox {
  border-color: #fcaf01;
  background-color: #fcaf01;
}

label.label-radio input[type=checkbox]:checked + .item-media i.icon-form-radio, label.label-radio input[type=checkbox]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type=checkbox]:checked ~ .item-inner i.icon-form-radio, label.label-radio input[type=radio]:checked + .item-media i.icon-form-radio, label.label-radio input[type=radio]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type=radio]:checked ~ .item-inner i.icon-form-radio {
  border-color: #fcaf01;
}

label.label-radio input[type=checkbox]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type=checkbox]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type=checkbox]:checked ~ .item-inner i.icon-form-radio:after, label.label-radio input[type=radio]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type=radio]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type=radio]:checked ~ .item-inner i.icon-form-radio:after {
  background-color: #fcaf01;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*FORM EDITING*/
.list-block {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0 3em;
  ul {
    background-color: transparent;
    li {
      padding: .25em 0;
    }
  }
  .item-inner:after, ul:before, ul:after {
    background-color: transparent;
    display: none;
  }
  .item-content {
    background-color: #fff;
    margin: 0;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-right: 10px;
    &.bg-none {
      background: none;
      border: none;
    }
  }
  .item-label {
    margin-bottom: .5em;
  }
  .item-inner {
    padding: 4px 10px !important;
    margin-right: 0 !important;
    min-height: 36px;
    //height: 36px;
    .label.max-width {
      width: 80%;
    }
  }
  .item-input {
    margin-bottom: 0;
    .label-switch {
      input[type=checkbox]:checked + .checkbox {
        @include background(.5);
        &:after {
          background: $main-color;
        }
      }
    }
  }
  .item-media {
    min-width: 25px;
    margin-left: 10px;
    i {
      display: block;
      margin: auto;
    }
  }
  .item-after {
    margin-left: 0;
    margin-right: 0;
    color: #a6a6a6;
  }
}

.picker-modal .list-block .item-content {
  border: none;
}

.landing {
  background: url("../img/splash.png");
  background-size: cover;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    max-width: 50%;
    max-height: 50%;
  }
}

.content-block {
  margin: 16px 0;
  padding: 0 16px;
}

.floating-button {
  left: 16px;
  right: auto;
  background: $main-color;
  &.active-state {
    background: $second-color;
  }
  i {
    font-size: 1.8em;
    margin-left: 0 !important;
  }
}

.navbar {
  background: linear-gradient(to left, $main-color, $second-color);
  .left {
    .link {
      padding-left: 0;
    }
  }
  .center {
    left: 0 !important;
    color: #fff;
  }
  .list-block {
    margin: 0;
    padding: 0;
    .item-link .item-inner {
      padding-right: 0;
      padding-left: 0;
      background: none;
    }
    .item-content {
      background-color: transparent;
      border: none;
      padding: 0;
    }
    .item-after {
      margin-left: 0;
      margin-right: 0;
      color: #fff !important;
      width: 100% !important;
      max-width: 100% !important;
    }
    .item-media {
      margin-left: 0;
    }
    li {
      padding-left: 1em;
    }
  }
  .navbar-inner.cached {
    display: flex;
  }
  a.link {
    color: white;
  }
}

.navbar-fixed .page-content {
  padding-top: 56px;
}

.toolbar {
  background: #fff;
  height: 60px;
  box-shadow: 0 0 8px 0 #ccc;
  a {
    &.link {
      color: $third-color;
      i {
        color: $third-color;
        font-size: 1.2em;
        margin: 0 0 5px 0;
      }
      span {
        margin: 0 !important;
      }
      &.active {
        color: $main-color;
        i {
          color: $main-color;
        }
      }
    }
  }
}

.button {
  height: initial;
  min-height: initial;
  line-height: initial;
  padding: 10px;
  margin-top: 1em;
  &.button-fill {
    background: linear-gradient(to left, $main-color, $second-color);
    color: #fff;
    &.active-state {
      background: linear-gradient(to left, $second-color, $main-color) !important;
    }
  }
  &.button-red {
    background: linear-gradient(to left, #c0392b, #e74c3c);
    color: #fff;
    &.active-state {
      background: linear-gradient(to left, #e74c3c, #c0392b) !important;
    }
  }
  &.button-rounded {
    border-radius: 25px;
  }

}

.badge {
  position: absolute;
  left: 30px;
  top: 10px;
}

.logo-cont {
  text-align: center;
  img {
    width: 50%;
  }
}

.centered-25 {
  width: 25%;
}

.centered-50 {
  width: 50%;
}

.centered-75 {
  width: 75%;
}

.centered-100 {
  width: 100%;
}

.left-50 {
  width: 50%;
  margin-right: 50%;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-1 {
  margin-top: 1em;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-1 {
  margin-bottom: 1em;
}

.m-l-0 {
  margin-left: 0;
}

.m-l-1 {
  margin-left: 1em;
}

.m-r-0 {
  margin-right: 0;
}

.m-r-1 {
  margin-right: 1em;
}

.p-1 {
  padding: 1em;
}

.b-b-1 {
  border-bottom: 1px solid $bg-color;
}

.text-main {
  color: $main-color;
}

.text-red {
  color: $red-color;
}

.text-muted {
  color: #999;
}

.badge-main {
  background: #00ccc3;
  display: block;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  color: white;
  margin: auto;
}

.bg-main {
  background-color: $main-color;
}

.bg-light {
  background: $bg-color;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.color-main {
  color: $main-color;
}

.alert {
  padding: 1em;
  margin: .5em 0;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.card {
  box-shadow: none;
  border-radius: 5px;
  padding: 1em;
  p {
    margin: 0;
  }
}

.rate {
  margin: 0.5em 0 0.2em !important;
  .ngrateit-bg-star {
    background-image: url(../img/bg-star-dark.svg);
    float: right;
  }
  .ngrateit-selected {
    background-image: url(../img/rated-star.svg);
  }
  .ngrateit:not(.ngrateit-readonly) .ngrateit-rating span:hover ~ span {
    background-image: url(../img/rated-star.svg);
  }
  .ngrateit:not(.ngrateit-readonly) .ngrateit-rating:hover span {
    cursor: pointer;
    background-image: url(../img/rated-star.svg);
  }
}

.bigstar.ngrateit .ngrateit-star {
  background-size: 25px;
}

.page {
  background: $fourth-color;
  &[data-page="category"],
  &[data-page="login"],
  &[data-page="forgetPassword"],
  &[data-page="verifyCode"],
  &[data-page="resetPassword"],
  &[data-page="changePassword"],
  &[data-page="signup"] {
    background: $bg-color url(../img/bg.jpg);
    background-size: cover;
  }

  &[data-page="category"],
  &[data-page="about"],
  &[data-page="profile"],
  &[data-page="notification"],
  &[data-page="editProfile"],
  &[data-page="search"],
  &[data-page="contact"],
  &[data-page="report"] {
    .page-content {
      .card {
        box-shadow: none;
        border-radius: 10px;
        padding: 1em;
        p {
          margin: 0;
        }
      }
      .profile-img {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin: 1em auto;
        width: 150px;
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          border: 5px solid $bg-color;
        }
        .picOption {
          position: absolute;
          background: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          i {
            font-size: 2em;
            display: block;
            text-align: center;
            margin: auto;
            &.ion-android-upload {
              color: $main-color;
            }
            &.ion-android-delete {
              color: $red-color;
            }
          }
        }
      }
    }
  }
  &[data-page="buildings"],
  &[data-page="halal"] {
    .card {
      border-radius: 50px;
      text-align: center;
      color: #999;
    }
  }
  &[data-page="advertisement"],
  &[data-page="myAdvertisement"],
  &[data-page="favouritesAdvertisement"] {
    .card {
      border-radius: 100px 0 0 100px;
      margin-right: 0;
      color: #999;
      .row {
        display: flex;
        align-items: center;
      }
      img {
        width: 100%;
        height: calc(30vw - 1.5em);
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
      h3 {
        font-weight: bold;
        color: $main-color;
        margin-top: 0;
      }
      p {
        margin-top: 5px;
      }
    }
  }
  &[data-page="messages"] {
    .card {
      border-radius: 10px;
      color: #999;
      .row {
        display: flex;
        align-items: center;
      }
      img {
        width: 100%;
        height: calc(20vw - 1.5em);
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
      h3 {
        font-weight: bold;
        color: $main-color;
        margin-top: 0;
      }
      p {
        margin-top: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  &[data-page="advertisementDetails"] {
    .card {
      border-radius: 10px;
      color: #999;
      .row {
        display: flex;
        align-items: center;
      }
      img {
        width: 100%;
        height: calc(25vw - 1.5em);
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
      }
      h3 {
        font-weight: bold;
        color: #000;
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .content {
      padding-bottom: 1em;
      .details {
        text-align: justify;
        margin: 1em;
      }
      .btn_actions {
        .button {
          background: #fff;
          color: $main-color;
          margin-top: 0;
          margin-bottom: 1em;
          text-align: right;
          padding: 10px 2em;
          box-shadow: 0 1px 2px 0 #ccc;
        }
        .col-50 {
          &:first-child {
            a {
              color: #0db59e;
              &.active, &.active-state {
                background: #0db59e !important;
              }
            }
          }
          &:nth-child(2) {
            a {
              color: #1187b9;
              &.active, &.active-state {
                background: #1187b9 !important;
              }
            }
          }
          &:nth-child(3) {
            a {
              color: #a149d4;
              &.active, &.active-state {
                background: #a149d4 !important;
              }
            }
          }
          &:nth-child(4) {
            a {
              color: #25c421;
              &.active, &.active-state {
                background: #25c421 !important;
              }
            }
          }
          &:nth-child(5) {
            a {
              color: #ed2124;
              &.active, &.active-state {
                background: #ed2124 !important;
              }
            }
          }
          &:nth-child(6) {
            a {
              color: #ffc500;
              &.active, &.active-state {
                background: #ffc500 !important;
              }
            }
          }
          &:nth-child(7) {
            a {
              color: #0db59e;
              &.active, &.active-state {
                background: #0db59e !important;
              }
            }
          }
          &:nth-child(8) {
            a {
              color: $main-color;
              &.active, &.active-state {
                background: $main-color !important;
              }
            }
          }
          a.active, a.active-state {
            color: #fff;
          }
        }
      }
      .rateAds {
        background: #fff;
        padding: 10px 2em;
        border-radius: 50px;
        color: $main-color;
        box-shadow: 0 1px 2px 0 #ccc;
        .row {
          display: flex;
          align-items: center;
          .bigstar {
            display: block;
            height: 32px;
            overflow: hidden;
          }
          p {
            margin: 0;
          }
        }
      }
      .comments {
        margin-bottom: 1em;
        .card {
          .more {
            font-size: 1.2em;
            position: absolute;
            left: 0;
            top: 0;
            text-align: left;
            z-index: 99999999;
            p, a {
              color: #999;
            }
          }
        }
        img {
          width: 100%;
          height: calc(20vw - 1.5em);
          border-radius: 10px;
          object-fit: cover;
          object-position: center;
        }
        .col-100 {
          margin-top: 1em;
        }
      }
      .btns {
        .list-block {
          padding: 0;
          li {
            padding: 0;
          }
          .item-content {
            border: none;
          }
        }
        .button {
          border-radius: 10px;
        }
      }
    }
    .swiper-container {
      margin: 10px;
      border-radius: 10px;
      img {
        width: 100%;
      }
    }
  }
  &[data-page="contact"] {
    .social {
      margin-bottom: 1.5em;
    }
  }
  &[data-page="search"] {
    .list-block {
      .item-media {
        background: linear-gradient(to left, $main-color, $second-color);
        color: #fff;
        border-radius: 20px 0 0 20px;
        width: 40px;
        height: 40px;
        margin-left: 3px;
      }
      h4 {
        margin: 0;
      }
    }
  }
  &[data-page="addAdvertisement"] {
    .images {
      overflow: hidden;
      margin-bottom: 1em;
      h3 {
        margin: 0;
      }
      .button {
        margin: 0;
      }
      .row {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
      }
      .profile-img {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 24%;
        float: right;
        height: calc(25vw - 2em);
        margin: 0.5% 0.5% 0 0.5%;
        .picOption {
          position: absolute;
          background: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 10px;
          i {
            font-size: 2em;
            display: block;
            text-align: center;
            margin: auto;
            &.ion-android-upload {
              color: $main-color;
            }
            &.ion-android-delete {
              color: $red-color;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 10px;
        }
      }
    }
    .list-block {
      .label-checkbox {
        &.item-content {
          background: transparent;
          border: none;
        }
        .item-media {
          margin-left: 0;
        }
        a {
          color: $main-color;
        }
      }
      .item-title{
        white-space: initial;
      }
    }
  }
  &[data-page="bankAccount"] {
    .card {
      h3 {
        margin: 0;
      }
      h4 {
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }
  &.smart-select-page {
    .navbar {
      .center {
        right: 35%;
        display: none;
      }
    }
    input[type="radio"]:checked + .item-inner {
      opacity: .5;
    }
    .list-block {
      padding: 0;
      .item-content {
        background: none;
        border: none;
      }
    }
  }
}

.addRate {
  color: #2ecc71;
  border-right: 3px solid #2ecc71 !important;
}

.hint {
  color: $main-color;
  border-right: 3px solid $main-color !important;
}

.remove {
  color: #e74c3c;
  border-right: 3px solid #e74c3c !important;
}

.swiper-pagination {
  text-align: left;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 10px;
}

.swiper-pagination-bullet-active {
  background: $main-color;
}

.ngrateit-star {
  float: right !important;
}

.messagebar ~ .page-content, .toolbar-bottom ~ .page-content {
  padding-bottom: 80px;
}

.popover {
  width: initial;
  left: 25px !important;
  .list-block {
    padding: 0;
    li {
      padding-top: 0;
      padding-bottom: 0;
    }
    .list-button {
      padding: 0.5em 1em;
      line-height: initial;
      color: #999;
    }
  }
}

.popover-angle {
  width: 0;
  height: 0;
}

.message-sent .message-text {
  background: $main-color;
  color: #fff;
}

.message-date {
  color: rgba(255, 255, 255, .51);
}

.list-block .smart-select .item-after {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
}

.notifications {
  &.list-block {
    margin: 0;
    padding: 0;
  }
}